footer {
    background-color: gray;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;

    p {
        color: white;

        span {
            color: green;
        }
    }

}