footer {
    background-image: linear-gradient(to right bottom, rgba(191, 186, 226, 0.7), rgba(183, 186, 234, 0.7)), url(../../images/header4.jpg);
    background-size: cover;
    background-position: top;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    // clip-path: polygon(0 100%, 100% 75vh, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    p {
        color: white;

        span {
            color: green;
        }
    }

}